.reportBtn{
    display: flex;
    align-items: center;
    gap: 2%;
    margin-left: auto;
    height: 100%;
    margin-right: 20px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
    cursor: pointer;
}
.menu ul{
    padding-top: 0px;
    padding-bottom: 0px;
}
.menu{
    padding: 0 !important;
}
.sendBtn{
    margin-top: 20px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 2;
    background-color: white;
    width: 500px;
    border-radius: 10px;
      
}
@media(max-width:500px){
    .Icon{
        font-size: 20px !important;
    }
    .reportBtn{
        margin-right: 0px;
    }
}

@media(max-width:600px){
    .modal{
        width: 90%;
    }
}