.reportBtn{
    display: flex;
    align-items: center;
    gap: 2%;
    margin-left: auto;
    height: 100%;
    width: 90px;
    justify-content: center;
    cursor: pointer;
}
.menu ul{
    padding-top: 0px;
    padding-bottom: 0px;
}
.menu{
    padding: 0 !important;
}
.sendBtn{
    margin-top: 20px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
@media(max-width:500px){
    .Icon{
        font-size: 20px !important;
    }
}