.container{
    /* width: 70vw; */
    margin: auto;
    /* background-color: antiquewhite; */
}

.movieInformationDiv{
    display: flex;
}
.movieName{
    font-size: large;
    font-weight: 600;
    font-style: italic;
    padding: 10px;
}
.imageDiv{
    width: 200px;
    height: 250px;
    position: relative;
}
.image{
    object-fit: contain;
}
.informationDiv{
    width: 100%;
    min-height: 250px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;  */
    gap: 10px;
}

.fav_comment_btnDiv{
    display: flex;
    gap:5px;
    flex-wrap: wrap;
    width: 250px;
}
.movieSummary{
    width: 100%;
    min-height: 70px;
    /* background-color: #dbdbdb49; */
    /* padding: 20px; */
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; */
    border-radius: 7px;
    margin-top: 5px;

}


.enPopulerSlider{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}
.movieCommentsDiv{
    width: 100%;
    padding: 20px;
}

@media(max-width:500px){
    .movieInformationDiv{
        display: block;
    }
    .imageDiv{
        margin: auto;
    }
    .movieName{
        text-align: center;
    }
    .informationDiv{
        width: 95% !important;
        margin: auto;
    }
    .movieSummary{
        width: 95%;
        margin: auto;
    }
    .movieCommentsDiv{
        padding: 5px;
    }
    .fav_comment_btnDiv {
        width: 100%;
    }
    
}