.commnetCreateDiv{
    width: 100%;
    margin-bottom: 20px;
}
.topComment{
    display: flex;
    align-items: center; 
    gap: 30px;
}
.bottomComment{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: flex-end;
}
.sendBtn{
    width: 15vw;
    height: 40px;
    background-color: antiquewhite;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    cursor: pointer;
}
.commentInput{
    width: 80vw;
}
.error{
    color: red;
}
.rating{
    color:var(--color2) !important;
}


@media(max-width:500px){
    .commentInput{
        width: 100vw !important;
    }
    .sendBtn{
        width: 100%;
    }
    .bottomComment{
        flex-wrap: wrap;
    }
}