.commnetCreateDiv{
    width: 100%;
    margin-bottom: 20px;
}
.topComment{
    display: flex;
    align-items: center; 
    gap: 30px;
}
.bottomComment{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: flex-end;
}
/* CSS */
.sendBtn {
    background-color: #fff;
    border: 1px solid var(--color2);
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 15vw;
    display:flex;
    justify-content: center;
    gap: 10px;
    height: 40px;
    align-items: center;
  }
  
  .sendBtn:hover {
    background-color: #f7fafa;
  }
  
  .sendBtn:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }
.commentInput{
    width: 80vw;
}
.error{
    color: red;
}
.rating{
    color:var(--color2) !important;
}


@media(max-width:500px){
    .commentInput{
        width: 100vw !important;
    }
    .sendBtn{
        width: 100%;
    }
    .bottomComment{
        flex-wrap: wrap;
    }
}

