.container{
    width: 70vw;
    margin: auto;
    /* background-color: antiquewhite; */
}

.movieInformationDiv{
    display: flex;
}
.movieName{
    font-size: large;
    font-weight: 600;
    font-style: italic;
    padding: 10px;
}
.imageDiv{
    width: 200px;
    height: 250px;
    position: relative;
}
.image{
    object-fit: contain;
}
.informationDiv{
    width: 100%;
    min-height: 250px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;  */
    gap: 10px;
}

.fav_comment_btnDiv{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    width: 250px;
}
.favBtn{
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
    min-width: 48%;
    text-align: center;
}
.movieSummary{
    width: 100%;
    height: 150px;
    background-color: palegoldenrod;
    padding: 20px;
}
.enPopulerSlider{
    width: 100%;
    height: 250px;
    background-color: aqua;
}
.movieCommentsDiv{
    width: 100%;
    padding: 20px;
}

@media(max-width:700px){
    .container{
        width: 95vw;
    }

}
@media(max-width:500px){
    .movieInformationDiv{
        display: block;
    }
    .imageDiv{
        margin: auto;
    }
    .movieName{
        text-align: center;
    }
    .informationDiv{
        width: 95% !important;
        margin: auto;
    }
    .movieSummary{
        width: 95%;
        margin: auto;
    }
    
}

@media(max-width:400px){
    .fav_comment_btnDiv ,.favBtn{
        width: 100%;
    }
}