.containerLeft{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin:0;

}

.leftForm{
    width: 400px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.leftForm_register{
    max-width: 500px;
    padding: 5% 5%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.leftForm-forgot{
    width: 400px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btn{
    margin-top: 20px !important;
    width: 56%;
    height: 40px;
    background-color:var(--color1) !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 5px !important;
}

.btn:hover{
    background-color: var(--color2) !important;
}

.loginGiris{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.fotoRight{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    display: flex;
    text-decoration: none;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media (max-width: 900px) {
    .fotoRight{
        display: none;
    }
  }

.loginKaydol{
    width: 95%;
    font-size: 13px;
    font-weight: 500 ;
    text-align: center;
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.kaydol{
    display: inline;
    transition: 1s;
    color: var(--color1);

}

.kaydol:hover{
    color: var(--color2) !important; 
    cursor: pointer;
}
.notActive{
    cursor: not-allowed;
    opacity: 0.6;
}

/* Titreme efekti için bir animasyon oluşturun */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) ; }
    50% { transform: translateX(5px) ; }
    75% { transform: translateX(-5px) ; }
    100% { transform: translateX(0); }
  }
  
  /* Butonun üzerine gelindiğinde animasyonu etkinleştirin */
  .notActive:hover {
    animation: shake 0.5s infinite; /* 0.5 saniye süren, sonsuz tekrar eden animasyon */
  }