.container{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 200px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(33,13,13,.225);
    padding-top: 5px;
}
.ImageDiv{
    margin: auto;
    width: 70%;
    height: 150px;
    object-fit: cover;
    position: relative;
}
.contentDiv{
    width: 100%;
    height: 50px;
    /* background-color: red; */
    text-align: center;
}
.favoriteBtn{
    position: absolute;
    top:0;
    right: 0;
    z-index: 9;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    border:1px solid white
}
.rating{
    color:purple;
    font-size: 20px;
}
.movieName{
    font-size: 16px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media(max-width:450px){
    .container{
        height:170px;
    }
    .ImageDiv{
        height: 130px;
        width: 80%;
    }
    .rating{
        font-size: 17px;
    }
    .movieName{
        font-size: 14px;
    }
}