.container{
    margin:auto;
    padding-bottom: 20px;
}
.headerDiv{
    width: 100%;
    /* background-color: #f1f2f3; */
    margin: auto;
    padding: 8vh 0;
}
.profileCenter{
    width: 250px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 5px 0px var(--color1); 
    border-radius: 20px;
}
.menuBarDiv{
    margin-bottom: 10px;
}
.menuBarDiv ul{
    display: flex;
    /* border-bottom:3px solid purple; */
}
.menuItem{
    /* background-color: aqua; */
    padding: 15px 20px;
}
.active {
    border-bottom: 2px solid var(--color1);
}
.level{
    border:1px solid var(--color1);
    padding: 5px;
    border-radius: 20px;
    font-size: 15px;
}
.score{
    border:1px solid var(--color1);
    padding: 5px;
    border-radius: 20px;
    font-size: 15px;
}
