.container{
    margin:auto;
    padding-bottom: 20px;
}
.headerDiv{
    width: 100%;
    background-color: yellow;
    margin: auto;
    padding-top:5vh;
}
.profileCenter{
    width: 20vw;
    height: 100px;
    background-color: red;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.profileInformationDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    
}
.Information{/* mobilde div ufalacak fontsize ufalacak */
    width: 100px; 
    margin:5px 0;
    padding: 5px;
    background-color:white ;
    border: 1px solid blue;
    border-radius: 20px;
}
.menuBarDiv{

}
.menuBarDiv ul{
    display: flex;
    /* border-bottom:3px solid purple; */
}
.menuItem{
    /* background-color: aqua; */
    padding: 15px 20px;
}
.active {
    border-bottom: 2px solid red;
}

