* {
  box-sizing: border-box;
  padding: 0 ;
  margin: 0;
}

ul{
  list-style-type: none;
}
a{
  color: inherit;
  text-decoration: none;
}
a:focus,
a:active {
  outline: none !important;
}

:root {
  --smfontsize:14px;
  --searchw1:500px;
  --searchw2:400px;
  --color1:#0174BE;
  --color2:#FFC436;
  --color3:#FFF0CE;

}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


.mainContainer{
  width: 70%;
  margin: auto;
}


@media(max-width:700px){
  .mainContainer{
    width: 95%;
  }
}

.loader {
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: inline-block;
  color: var(--color3);
  letter-spacing: 2px;
  position: relative;
  box-sizing: border-box;
}
.loader::after {
  content: 'Loading';
  position: absolute;
  left: 0;
  top: 0;
  color: var(--color1);
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  animation: animloader 3s linear reverse infinite;
}

@keyframes animloader {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}