* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul{
  list-style-type: none;
}
a{
  color: inherit;
  text-decoration: none;
}
a:focus,
a:active {
  outline: none !important;
}

:root {
  --smfontsize:14px;

}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
