.container{
    width:100vw;
    background-color:var(--color1);
}
.ustContainer{
    width: 80vw;
    height: 50px;
    margin:auto;
    padding:10px 20px  20px;
    
}
.altContainer{
    width: 100vw;
    height: 45px;
}
.ustNavbar{
    display:flex;
    justify-content: space-between;
    align-items: start;
    height: 100%;
    /* align-items: flex-start; */
}
.ustNavItem:nth-child(1){
    margin: 0;
    padding: 0;
}
.ustNavItem:nth-child(1),
.ustNavItem:nth-child(3) {
  /* margin-top: 15px; */
}
.altNavbar{
    display: flex;
    justify-content: center;
    font-size: var(--smfontsize);
}
.altNavItem{
    padding: 15.5px 30px 12.5px 30px;
    color:white;
}
.altNavItem:hover{
    border-bottom:3px solid white;
    padding-bottom: 10px !important;
}
.menuIcon{
    display:none;
}
.toggleMenu{
    display:none;
    position: absolute;
    background-color: var(--color1);
    right: 0;
    top:60px;
    padding:10px 20px;
    z-index: 999;
}
.active{
    display:block ;
}

.toggleMenuItem {
    width: 200px;
    height: 60px;
    color:white;
}

.link{
    width: 100%;
    height:100%;
    display: block;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo{
    width: 80px;
    height: 50px;
    mix-blend-mode: color-burn;
    margin-top: 7px;
}




@media (max-width:1000px){
    .ustContainer{
        width:100vw !important;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width:700px){
    .altContainer{
        display: none;
    }
    .container{
        padding-bottom: 10px !important;
    }
    .menuIcon{
        display: block;
    }
    .Button{
        display:none;
    }
    .logo{
        width: 60px;
        height: 40px;
        margin-top: 0;
    }
}

/* giriş yap animation button */
.btn {
    --color: var(--color2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    border: none;
    background-color: transparent;
    margin-top: 10px;
    z-index: 1;
  }
  
  .btn div {
    letter-spacing: 2px;
    font-weight: 600;
    color:black;
    background: var(--color);
    border-radius: 2rem;
    padding: 1rem;
  }
  
  .btn::before {
    content: '';
    z-index: -1;
    background-color: var(--color);
    border: 1px solid black;
    border-radius: 2rem;
    width: 110%;
    height: 100%;
    position: absolute;
    transform: rotate(10deg);
    transition: .5s;
    opacity: 0.3;
  }
  
  .btn:hover {
    cursor: pointer;
    transform: scale(1);
  }
  
  .btn:hover::before {
    transform: rotate(0deg);
    opacity: 1;
  }
  
  .btn svg {
    transform: translateX(-200%);
    transition: .5s;
    width: 0;
    opacity: 0;
  }
  
  .btn:hover svg {
    width: 20px;
    transform: translateX(0%);
    opacity: 1;
    margin-left: -10px;

  }
  