.container{
    width:100vw;
    background-color: #77091C;
}
.ustContainer{
    width: 80vw;
    height: 50px;
    margin:auto;
    padding:10px 20px  20px;
    
}
.altContainer{
    width: 100vw;
    height: 45px;
}
.ustNavbar{
    display:flex;
    justify-content: space-between;
    height: 100%;
    /* align-items: flex-start; */
}
.ustNavItem:nth-child(1),
.ustNavItem:nth-child(3) {
  margin-top: 15px;
}
.altNavbar{
    display: flex;
    justify-content: center;
    font-size: var(--smfontsize);
}
.altNavItem{
    padding: 15.5px 30px 12.5px 30px;
    color:white;
}
.altNavItem:hover{
    border-bottom:3px solid white;
    padding-bottom: 10px !important;
}
.menuIcon{
    display:none;
}
.toggleMenu{
    display:none;
    position: absolute;
    background-color: #77091C;
    right: 0;
    top:60px;
    padding:10px 20px;
    z-index: 999;
}
.active{
    display:block ;
}

.toggleMenuItem {
    width: 200px;
    height: 60px;
    color:white;
}

.link{
    width: 100%;
    height:100%;
    display: block;
    display: flex;
    align-items: center;
}




@media (max-width:1000px){
    .ustContainer{
        width:100vw !important;
    }
}
@media (max-width:700px){
    .altContainer{
        display: none;
    }
    .container{
        padding-bottom: 10px !important;
    }
    .menuIcon{
        display: block;
    }
    .Button{
        display:none;
    }
    .ustNavItem:nth-child(1){
        margin-top: 10px;
    }
    .ustNavItem:nth-child(3){
        margin-top: 0 ;
    }
}
