

.commentDiv{
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
    padding: 10px; 
}

.commentTop{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding-right: 20px;
}
.commentBottom{
    width: 100%;
    display: flex;
    align-items: center;
    gap:1%;
    height: 40px;
    flex-wrap: wrap;
}
.commentContent{
    padding: 20px;
}
.commentIcon{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    padding: 2% !important;
    color: black;
}
.date{
    position: absolute;
    font-size: 13px;
    color: rgb(93, 93, 93);
    margin-top: 3px;
}
.deleteBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 10px;
    border:1px solid rgb(93, 93, 93);
    cursor: pointer;
    margin-left: auto;
    
}



@media(max-width:500px){
    .commentTop{
        padding-right: 0px;
    
    }
    .commentBottom{
        font-size: 13px;
    }
    .Icon,.IconChecked{
        font-size: 20px !important;
    }
    
}