.footer{
    display: flex;
    flex-direction: column;
    color: #000;
    margin-top: 1rem;
    border-top: 1px solid #e2e8f0;
}
.footer__top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.25rem;
    padding-left: 1.5rem/* 28.5px */;
    padding-right: 1.5rem/* 28.5px */;
    padding-top: 2.5rem/* 47.5px */;
    padding-bottom: 2.5rem/* 47.5px */;
}
.footer__top__logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;

}
.logo{
    font-size: 1rem/* 20px */;
    line-height: 1.5rem/* 28px */;
    letter-spacing: 0.025em/* 0.4px */;
    color: #4a5568;

}
.footer__links{
    display: flex;
    flex: 1;
    width: 100%;
    flex-wrap: wrap;
    gap: 5rem;
}
.footer__link{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    min-width: 170px;
}
.footer__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2.5rem;
    border-top: 1px solid #e2e8f0;

}
/* flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10; */
.footer__bottom__links{
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.footer__link a:hover{
    color:var(--color1) !important;

}

@media (min-width: 768px) { /* md */
    .footer__top{
        flex-direction: row !important;
    }
    .footer__links{
        justify-content: flex-end !important;
        margin-top: 2.5rem !important;
    }
}

@media (min-width: 640px) {/* sm */
    .footer__top {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
    .footer__bottom{
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
    .footer__bottom__links{
        justify-content: flex-end !important;
        margin-top: 0rem !important;

    }
}